@model PaginatedList<CS_Web_Core_MVC_Northwind.Models.ProductsModel>

@{
    ViewData["Title"] = "商品";
}

<h1>商品</h1>

<p>
    <a asp-action="Create">新增</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            尋找: <input type="text" name="SearchString" value="@ViewData["FilterCurrent"]" />
            <input type="submit" value="尋找" class="btn btn-light" /> |
            <a asp-action="Index">清除</a>
        </p>
    </div>
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["SortProductName"]"
                   asp-route-searchString="@ViewData["FilterCurrent"]">
                    @Html.DisplayNameFor(model => model[0].ProductName)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["SortCompanyName"]"
                   asp-route-searchString="@ViewData["FilterCurrent"]">
                    @Html.DisplayNameFor(model => model[0].Supplier.CompanyName)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["SortCategoryName"]"
                   asp-route-searchString="@ViewData["FilterCurrent"]">
                    @Html.DisplayNameFor(model => model[0].Category.CategoryName)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["SortUnitPrice"]"
                   asp-route-searchString="@ViewData["FilterCurrent"]">
                    @Html.DisplayNameFor(model => model[0].UnitPrice)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["SortUnitPrice"]"
                   asp-route-searchString="@ViewData["FilterCurrent"]">
                    @Html.DisplayNameFor(model => model[0].UnitPrice)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].UnitsOnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ReorderLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Discontinued)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsOnOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReorderLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discontinued)
                </td>
                <td class="text-nowrap">
                    <a asp-action="Edit" asp-route-id="@item.ProductID">編輯</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductID">內容</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductID">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* 分頁 *@
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : ""; //上頁disabled
    var nextDisabled = !Model.HasNextPage ? "disabled" : ""; //下頁disabled
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-filterCurrent="@ViewData["FilterCurrent"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-light @prevDisabled">
    上頁
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-filterCurrent="@ViewData["FilterCurrent"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-light @nextDisabled">
    下頁
</a>